TELEGRAM_TOKEN=8623042691:AAGHfryZ13YeqvMOfbCy-mxMtJ6SEK2ZLt4
TELEGRAM_CHAT_ID=8623042691
ANTHROPIC_API_KEY=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
GOOGLE_SHEET_NAME=BTC Trade Log
ACCOUNT_BALANCE=500
RISK_PERCENT=1
